# .htaccess
#
# @package org.carrot-framework
# @author 小石達也 <tkoishi@b-shock.co.jp>

Deny from all

Options -Indexes

AddType application/x-httpd-php .php
AddType video/webm .webm
AddType video/h264 .h264
